<!--  page-wrapper -->
<div id="page-wrapper">

  <div style="height: 50px;">

  </div>
  <!-- row -->
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Messages</h3>
        <div class="table-responsive">

          <% if user_signed_in? %>       
  <%#= link_to 'Download', download_app_path %>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th></th>

                  <% if @msginbox.present? && (@msginbox.first.msg_type && @msginbox.first.msg_type == 'inbox') %>
                    <th>From</th>
                  <%else%>
                    <th>To</th>
                  <%end%>
                  <th>Message</th>  
                  <th>Date Time</th>
                  <th>Type</th> 
  <%#end%>
                </tr>
              </thead>
              <tbody>
                <% @msginbox.each_with_index do |msg , i| %>
                  <% msec=msg.date_time.to_i if msg.date_time %>
                  <tr>
                    <th><%=i%></th>
                    <th><%= msg.address %></th>                  
                    <th><%= msg.body %></th>
                    <th><%= Time.at(msec/1000).in_time_zone('Kolkata') if msec %></th>
                    <th><%= msg.msg_type %></th>
                  </tr>
                <%end if @msginbox%>
              </tbody>
            </table>
          <%end%>
        </div>
        <%= will_paginate @msginbox ,:class=>"pagination" if @msginbox%>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
<!-- end page-wrapper -->


