<div class="main row">
  <div class="col-md-8 blog_left">
    <h2>What is Cyberbullying? </h2>
    <a href="/Single-Page"><img src="<%= asset_path("blog_pic1.jpg") %>" alt="" class="blog_img img-responsive"/></a>
    <div class="blog_list">
      <ul class="list-unstyled">
        <li><i class="fa fa-calendar-o"></i><span>June 3, 2013</span></li>
        <li><i class="fa fa-comment"></i><span>Comments</span></li>
        <li><i class="fa fa-user"></i><span>Admin</span>></li>
        <li><i class="fa fa-eye"></i><span>124 views</span></li>
      </ul>
    </div>
    <p class="para">Young people are using the Internet more than ever and most have Internet access from home. For many children, the Internet isn't simply a convenient way to research or a fun afterschool activity - it's a big part of their social life. Emailing and chatting with friends are children's most common online activities, after studying and playing games. But like many other social situations, some kids bully other kids online.</p>
    <div class="read_more">
      <a href="/Single-Page" class="fa-btn btn-1 btn-1e">view more</a>
    </div>
    <h2>Elite Guard: Now Parents Can Manage Their Kids' PC & Mobile Activities</h2>
    <a href="/Single-Page"><img src="<%= asset_path("blog_pic2.jpg") %>" alt="" class="blog_img img-responsive"/></a>
    <div class="blog_list">
      <ul class="list-unstyled">
        <li><i class="fa fa-calendar-o"></i><span>June 3, 2013</span></li>
        <li><a href="#"><i class="fa fa-comment"></i><span>Comments</span></a></li>
        <li><a href="#"><i class="fa fa-user"></i><span>Admin</span></a></li>
        <li><a href="#"><i class="fa fa-eye"></i><span>124 views</span></a></li>
      </ul>
    </div>
    <p class="para">Children are our most valuable Natural Resource and Wealth. It's our duty to protect them with great love and care from the hazards of the outside world.</p>
    <p class="para">The Internet is absolutely loaded with content and activities that are entertaining and educational for children. Modern kids have access to online and offline resources vastly beyond what their parents can even think and beyond what some grandparents even understand. Parents have enough to worry about the dangers children may face every day on the computer especially on the internet. </p>
    <div class="read_more">
      <a href="single-page1" class="fa-btn btn-1 btn-1e">view more</a>
    </div>
  </div>
  <div class="col-md-4 blog_right">
    <!-- start social_network_likes -->
    <div class="social_network_likes">
      <ul class="list-unstyled">
        <li><a href="#" class="tweets"><div class="followers"><p><span>2k</span>Followers</p></div><div class="social_network"><i class="twitter-icon"> </i> </div></a></li>
        <li><a href="#" class="facebook-followers"><div class="followers"><p><span>5k</span>Followers</p></div><div class="social_network"><i class="facebook-icon"> </i> </div></a></li>
        <li><a href="#" class="email"><div class="followers"><p><span>7.5k</span>members</p></div><div class="social_network"><i class="email-icon"> </i></div> </a></li>
        <li><a href="#" class="dribble"><div class="followers"><p><span>10k</span>Followers</p></div><div class="social_network"><i class="dribble-icon"> </i></div></a></li>
        <div class="clear"> </div>
      </ul>
    </div>
    <ul class="ads_nav list-unstyled">
      <h4>Ads 125 x 125</h4>
      <li><a href="#"><img src="<%= asset_path("ads_pic.jpg") %>" alt=""> </a></li>
      <li><a href="#"><img src="<%= asset_path("ads_pic.jpg") %>" alt=""> </a></li>
      <li><a href="#"><img src="<%= asset_path("ads_pic.jpg") %>" alt=""> </a></li>
      <li><a href="#"><img src="<%= asset_path("ads_pic.jpg") %>" alt=""> </a></li>
      <div class="clearfix"></div>
    </ul>
    <ul class="tag_nav list-unstyled">
      <h4>tags</h4>
      <li class="active"><a href="#">art</a></li>
      <li><a href="#">awesome</a></li>
      <li><a href="#">classic</a></li>
      <li><a href="#">photo</a></li>
      <li><a href="#">wordpress</a></li>
      <li><a href="#">videos</a></li>
      <li><a href="#">standard</a></li>
      <li><a href="#">gaming</a></li>
      <li><a href="#">photo</a></li>
      <li><a href="#">music</a></li>
      <li><a href="#">data</a></li>
      <div class="clearfix"></div>
    </ul>
    <div class="news_letter">
      <h4>news letter</h4>
      <form>
        <span><input type="text" placeholder="Your email address"></span>
        <span  class="pull-right fa-btn btn-1 btn-1e"><input type="submit" value="subscribe"></span>
      </form>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
